include ../../components/header/header
include ../../components/search-block/search-block
include ../../components/log-in_block/log-in_block
include ../../components/footer/footer
include ../../components/check-list/check-list
include ../../components/preview-room/preview-room
include ../../components/rooms/rooms
include ../../components/pagination/pagination

html(lang="ru")
	head
		link(rel="stylesheet" type="text/css" href="search.css")
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title= "TOXIN"
	body
		div.wrapper
			+header("non-aut", [{name: "О нас"}, {name: "Услуги", subm: true}, {name: "Вакансии"}, {name: "Новости"}, {name: "Соглашения", subm: true}])
			main.index
				div.index__container.container
					div.filter
						include ../../components/room-filter/room-filter
					div.room-items
						+rooms([{
							img: "../../../img/PAGES/search/rooms/image1.png", 
							num: "888", lux: "true", 
							price: "9 990", 
							reviews: "145",
							stars: "5"
						},
						{
							img: "../../../img/PAGES/search/rooms/image2.png", 
							num: "840", lux: "false", 
							price: "9 990", 
							reviews: "65",
							stars: "4"
						},
						{
							img: "../../../img/PAGES/search/rooms/image3.png", 
							num: "980", lux: "true", 
							price: "8 500", 
							reviews: "35",
							stars: "3"
						},
						{
							img: "../../../img/PAGES/search/rooms/image4.png", 
							num: "856", lux: "false", 
							price: "7 300", 
							reviews: "19",
							stars: "5"
						},
						{
							img: "../../../img/PAGES/search/rooms/image5.png", 
							num: "740", lux: "false", 
							price: "6 000", 
							reviews: "44",
							stars: "4"
						},
						{
							img: "../../../img/PAGES/search/rooms/image6.png", 
							num: "982", lux: "false", 
							price: "5 800", 
							reviews: "56",
							stars: "3"
						},
						{
							img: "../../../img/PAGES/search/rooms/image7.png", 
							num: "678", lux: "false", 
							price: "5 500", 
							reviews: "45",
							stars: "5"
						},
						{
							img: "../../../img/PAGES/search/rooms/image8.png", 
							num: "450", lux: "false", 
							price: "5 300", 
							reviews: "39",
							stars: "4"
						},
						{
							img: "../../../img/PAGES/search/rooms/image9.png", 
							num: "350", lux: "false", 
							price: "5 000", 
							reviews: "77",
							stars: "3"
						},
						{
							img: "../../../img/PAGES/search/rooms/image10.png", 
							num: "666", lux: "false", 
							price: "5 000", 
							reviews: "25",
							stars: "5"
						},
						{
							img: "../../../img/PAGES/search/rooms/image11.png", 
							num: "444", lux: "false", 
							price: "5 000", 
							reviews: "15",
							stars: "3"
						},
						{
							img: "../../../img/PAGES/search/rooms/image12.png", 
							num: "352", lux: "false", 
							price: "5 000", 
							reviews: "55",
							stars: "3"
						}
						])
						+pagination({
							current:1,
							totalPages: 15,
							totalRooms: 100})
			+footer("full", [
				{title:"Навигация",
				items: [
				{
					title:"О нас",
					href: "#"
				},
				{
					title:"Новости",
					href: "#"
				},
				{
					title:"Служба поддержки",
					href: "#"
				},
				{
					title:"Услуги",
					href: "#"
				},
				]
				},
				{title:"О нас",
				items: [
				{
					title:"О сервисе", 
					href: "#"
				},
				{
					title:"Наша команда", 
					href: "#"
				},
				{
					title:"Вакансии", 
					href: "#"
				},
				{
					title:"Инвесторы", 
					href: "#"
				},
				]
				},
				{title:"Служба поддержки",
				items: [
				{
					title:"Соглашения", 
					href: "#"
				},
				{
					title:"Сообщества", 
					href: "#"
				},
				{
					title:"Связь с нами", 
					href: "#"
				},
				]
				},
				])

			+footer("pur")

		script(src= "https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
		script(src= "../../../js/slick.min.js")
		script(src= "search.js")

