mixin button({text, theme, href = "#"} = "")
	case theme
		when "gradient"
			form(action= href)
				button(class = "but button-gradient")=text
		when "frame"
			form(action= href)
				button(class = "but button-frame")=text
		when "arrow"
			form(action= href)
				button(class = "but button-arrow")=text
		when "combined"
			button(class = "but button-combined")=text
				img(src="../../img/INTERFACE/accaunt.svg")