include ../rating-stars/rating-stars

mixin preview-room({img, num, lux, price, reviews} = "")
	div.preview-room
		div.preview-room__body
			//a(href= "#" class= "preview-room__link")
			img.preview-room__image(src= img, alt= "Фото номера")
			div.preview-room__info
				div.preview-room__info-up
					div.preview-room__number
						span.preview-room__number-ico №
						span(class = "preview-room__number-num")=num
						if (lux === "true")
							span.preview-room__lux ЛЮКС
					div.preview-room__price
						span.preview-room__price-text= price + "₽"
						|  в сутки
				div.preview-room__info-down
					+rating-stars({stars: "0"})
					div.preview-room__reviews
						span.preview-room__reviews-text= reviews
						|  Отзывов
