mixin rating-stars({stars, theme} = "")
	div(class= "rating-stars" data-total-value= stars)
		div(class= "rating-stars__item" data-item-value= "5")
		div(class= "rating-stars__item" data-item-value= "4")
		div(class= "rating-stars__item" data-item-value= "3")
		div(class= "rating-stars__item" data-item-value= "2")
		div(class= "rating-stars__item" data-item-value= "1")