.rating-stars {
	display: inline-flex;
	flex-direction: row-reverse;
	&__item {


		display: block;
		background: url("../../img/INTERFACE/star_disabled.svg") center center no-repeat;
		width: 24px;
		height: 24px;
		
		// height: 24px;
		cursor: pointer;
		transition: 0.2s;
	}
	&__item:hover, &__item:hover ~ &__item {
		display: block;
		background: url("../../img/INTERFACE/star_active.svg") center center no-repeat;
		width: 24px;
		height: 24px;

	}
}

.rating-stars[data-total-value="1"] .rating-stars__item:nth-child(n + 5),
.rating-stars[data-total-value="2"] .rating-stars__item:nth-child(n + 4),
.rating-stars[data-total-value="3"] .rating-stars__item:nth-child(n + 3),
.rating-stars[data-total-value="4"] .rating-stars__item:nth-child(n + 2),
.rating-stars[data-total-value="5"] .rating-stars__item:nth-child(n + 1){
	display: block;
	background: url("../../img/INTERFACE/star_active.svg") center center no-repeat;
	width: 24px;
	height: 24px;
}