div(class='price-range')
	div.price-range__price
		span.price-range__title диапазон цены
		input(id='id1i' class='price-range__inpt' min='0' max='15000' readonly)
	div(class='price-range__range' id='id1')
		div(class='price-range__between' id='id1b')
		span(class='price-range__btn1' id='id1btn')
		span(class='price-range__btn1' id='id2btn')
	p.price-range__text Стоимость за сутки пребывания в номере

