header.header
	div.header__container.container
		a.header__logo.logo
			img(src="img/LOGO/logo_icon.svg").logo__image
			img(src="img/LOGO/logo_text.svg").logo__text
		div.header__menu.menu
			div.menu__body
				ul.menu__list
					li
						a(href="#").menu__link О нас
					li
						a(href="#").menu__link-services Услуги
					li
						a(href="#").menu__link Вакансии
					li
						a(href="#").menu__link Новости
					li
						a(href="#").menu__link-agree Соглашения
		div.header__accaunt.accaunt
			button.accaunt__come Войти
			button.accaunt__register Зарегистрироваться
			button.accaunt__accaunt 
				img(src="img/INTERFACE/accaunt.svg")