main.page
	div.banner
		div.banner__content.container
			div.suggest
				div.suggest__container
					div.suggest__body
						div.suggest__title-h1.title-h1 Найдём номера под ваши пожелания
						div.suggest__info.info-suggest
							div.info-suggest__calendar
								div.info-suggest__arrial 
									div.info-suggest__title-h3.title-h3 прибытие
									div.info-suggest__button-arr 
										span ДД.ММ.ГГГГ
								div.info-suggest__departure
									div.info-suggest__title-h3.title-h3 выезд
									div.info-suggest__button-dep 
										span ДД.ММ.ГГГГ
							div.info-suggest__guests
								div.info-suggest__title-h3.title-h3 гости
								div.info-suggest__button-guest 
									span Сколько гостей
						button.suggest__button подобрать номер
		div.banner__background.background
			img(src= "img/PAGES/landing page/main_background.png")